.chat-box {
  height: 75vh;
  position: relative;
  background-color: #dce6f4;
}

.chat-user {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #c6c6c6;
}

.chat-user img {
  width: 26px;
  border-radius: 50%;
}

.chat-user img:first-child {
  width: 38px;
  aspect-ratio: 1/1;
}

.chat-user p {
  flex: 1;
  font-weight: 500;
  font-size: 20px;
  color: #393938;
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: white;
}

.chat-input img {
  width: 30px;
  cursor: pointer;
}

.chat-input label {
  display: flex;
}

.chat-input label img {
  width: 22px;
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
}

.chat-message {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 50px;
  overflow-y: scroll;
}

.s-message div img,
.r-message div img {
  width: 27px;
  border-radius: 48px;
  aspect-ratio: 1/1;
}

.s-message,
.r-message {
  display: flex;
  gap: 5px;
  align-items: end;
  justify-content: end;
  padding: 0px 15px;
}

.r-message {
  justify-content: start;
  flex-direction: row-reverse;
}

.message {
  color: white;
  background-color: #077eff;
  padding: 8px;
  max-width: 200px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 8px 8px 0px 8px;
  margin-bottom: 30px;
}

.r-message .message {
  background-color: #a7a7d9;
  border-radius: 8px 8px 8px 0px;
}

.s-message div,
.r-message div {
  text-align: center;
  font-size: 9.6px;
}

.message-image {
  max-width: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
}
